@value measures: "./variables/measures.css";
@value colors: "./variables/colors.css";
@value header-height from measures;
@value primary from colors;

body {
  background-color: primary;
  margin: 0; 
}

.mainContainer {
  display: flex;
  justify-content: center;
}

.background {
  background-image: linear-gradient(
    rgba(36, 43, 61, 0.7), 
  rgba(36, 43, 61, 1) 
  ), url("../images/ashe_background.png");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100vh;
  max-width: 1140px;
  position: fixed;
  top: header-height;
  width: 90vw;
}

.container {
  display: flex;
  flex-direction: column;
  margin-top: calc(header-height + 8vh);
  max-width: 1000px;
  position: relative;
  width: 80vw;
}

@media only screen and (max-width: 900px) {
  .background {
    width: calc(70vw + 180px);
  }

  .container {
    width: calc(75vw + 45px);
  }
}