@value variables: "./variables.css";
@value card-margin, card-cont-width, main-font, text-primary, text-secondary from variables;

.heading {
  color: text-primary;
  font: 16px main-font;
  font-weight: 500;
  margin: 0;
}

.amount {
  color: text-secondary;
  font: 10px main-font;
  font-weight: 100;
  margin: 0 0 10px 0;
}

.cardContainer {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  gap: 20px;
}

@media only screen and (max-width: 600px) {
  .cardContainer {
    grid-template-columns: minmax(0, 1fr);
  }
}
