@value colors: "./variables/colors.css";
@value fonts: "./variables/fonts.css";
@value text-primary, text-secondary from colors;
@value main-font from fonts;

.heading {
  color: text-primary;
  font: 16px main-font;
  font-weight: 500;
  margin: 0;
}

.amount {
  color: text-secondary;
  font: 10px main-font;
  font-weight: 300;
  margin: 2px 0 15px 0;
}

.cardContainer {
  display: -ms-grid;
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  grid-gap: 20px;
  gap: 20px;
}

.loading,
.error {
  color: text-secondary;
  font: 13px main-font;
  letter-spacing: 1px;
}

@media only screen and (max-width: 650px) {
  .cardContainer {
    grid-template-columns: minmax(0, 1fr);
  }
}

@supports not (display: grid) {
  .cardContainer {
    composes: flexbox from "./variables/mixins.css";
    flex-wrap: "wrap";
    margin: -10px;
  }
}
