@value colors: "./variables/colors.css";
@value fonts: "./variables/fonts.css";
@value primary, shadow, text-primary, text-secondary from colors;
@value main-font from fonts;

.container {
  background-color: primary;
  border-radius: 3px;
  box-shadow: shadow;
  display: flex;
  flex-direction: row;
  padding: 15px;
  transition: transform .5s, box-shadow .5s;
}

.container:hover {
  box-shadow: 1px 4px 6px #252522aa;
  cursor: pointer;
  transform: translateY(-3px);
}

.flag {
  border-radius: 3px;
  overflow: hidden;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
  padding: 5px;
}

.heading {
  color: text-primary;
  font: 16px main-font;
  font-weight: 500;
  margin: 0;
}

.keyWords {
  color: text-secondary;
  font: 10px main-font;
  font-weight: 300;
  margin: 0;
}

.keyWords span {
  padding-right: 3px;
}

.bullet {
  position: relative;
  top: -.5px;
}
