@value colors: "./variables/colors.css";
@value fonts: "./variables/fonts.css";
@value primary, shadow, text-primary, text-secondary from colors;
@value main-font from fonts;

.container,
.modalContainer {
  background-color: primary;
  border-radius: 3px;
  box-shadow: shadow;
  composes: flexbox from "./variables/mixins.css";
  flex-direction: row;
  margin: 2px;
  padding: 18px;
  transition: background-color .3s, box-shadow 1s, transform 1s;
}

.container:hover {
  background-color: #383e5780;
  box-shadow: 1px 5px 6px 2px #25252265;
  cursor: pointer;
  -webkit-transform: translate(2px, -5px);
  -ms-transform: translate(2px, -5px);
  transform: translate(2px, -5px);
}

.container:focus,
.modalContainer:focus {
  outline: none;
  border: 2px solid #118de099;
  margin: 0;
}

.modalContainer:hover {
  background-color: #383e5760;
  cursor: pointer;
}

.flag {
  min-width: fit-content !important;
  height: fit-content;
  border-radius: 3px;
  overflow: hidden;
}

.textContainer {
  composes: flexbox from "./variables/mixins.css";
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
  padding: 3px 10px;
}

.heading {
  color: text-primary;
  font: 14px main-font;
  font-weight: 500;
  margin: 0 0 10px;
}

.keyWords {
  color: text-secondary;
  font: 10px main-font;
  font-weight: 300;
  margin: 0;
}

.keyWords span {
  padding-right: 3px;
}

.bullet {
  position: relative;
  top: -.5px;
}

@supports not (display: grid) {
 .container,
 .modalContainer {
  flex: "1 1 40%";
  margin: 10px;
 }
}
