@value variables: "./variables.css";
@value vertical-margin from variables;

.container {
  background-color: #394259;
  border-radius: 3px;
  box-shadow: 1px 1px 5px #252522;
  color: white;
  display: flex;
  flex-direction: column;
  height: 280px;
  justify-content: center;
  margin-bottom: vertical-margin;
}

.textContainer {
  margin-left: 70px;
}

.heading {
  font: 42px arial semibold, sans-serif;
  margin-bottom: 0;
}

.body {
  font: 15px arial, sans-serif;
}
