@value variables: "./variables.css";
@value vertical-margin from variables;

.container {
  background-color: #394259;
  border-radius: 3px;
  display: flex;
  margin-bottom: vertical-margin;
  padding: 15px 25px;
}

.symbolWrapper {
  font-size: 11px;
  margin: 3px -3px 3px 20px;
}

.inputBackground {
  align-items: center;
  background-color: #677491;
  border-radius: 22px;
  color: #fff;
  display: flex;
  width: 100%;
}

.input {
  background-color: transparent;
  border-color: transparent;
  border: none;
  color: #ccc;
  padding: 10px;
  width: 100%;
}

.input:focus {
  outline: none;
}

.input::placeholder {
  color: #bbb;
  font-size: 10px;
  font-style: italic;
}
